.dashboard-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100dvh;
}

.dashboard-container nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #f4f4f4;
  left: -200px;
}

.dashboard-container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-container nav ul li {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.dashboard-container header {
  grid-area: header;
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.dashboard-container header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-container main {
  grid-area: main;
  padding: 1rem;
  overflow-y: auto;
}

.dashboard-container footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.dashboard-container nav.active {
  left: 0;
}

@media screen and (min-width: 600px) {
  .dashboard-container {
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
      "header header"
      "nav main"
      "footer footer";
  }

  .dashboard-container nav {
    grid-area: nav;
    position: static;
    left: 0;
    height: auto;
  }

  .dashboard-container header div .menu {
    display: none;
  }
}